pandas
numpy
scikit-learn
joblib
fastapi
uvicorn[standard]
pydantic
python-dotenv
pytest
requests
httpx
openml
shap
matplotlib
sqlalchemy
alembic
psycopg2-binary
python-multipart
passlib[bcrypt]
bcrypt==4.0.1
PyJWT
email-validator
